/* region Variables */
:root {
    /* 01 - TYPOGRAPHY */
    /* Font Size */
    --fs-10: 1rem;
    --fs-12: 1.2rem;
    --fs-14: 1.4rem;
    --fs-16: 1.6rem;
    --fs-18: 1.8rem;
    --fs-20: 2rem;
    --fs-24: 2.4rem;
    --fs-30: 3rem;
    --fs-36: 3.6rem;
    --fs-44: 4.4rem;
    --fs-52: 5.2rem;
    --fs-62: 6.2rem;
    --fs-74: 7.4rem;
    --fs-86: 8.6rem;
    --fs-98: 9.8rem;

    /* Font Weight */
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semi-bold: 600;
    --fw-bold: 700;

    /* Line Weight */
    --lw-regular: 1;
    --lw-small: 1.05;
    --lw-medium: 1.2;
    --lw-paragraph: 1.6;
    --lw-large: 1.8;

    /* Letter Spacing */
    --ls-smallest: 0.5px;
    --ls-small: 0.75px;

    /* 02 - COLORS */
    --c-inactive: #e9e9e9;
    --c-green: #28a745;
    --c-primary: #1864ab;
    --c-primary-darker: #0e3c67;
    --c-primary-ligther: #8cb2d5;
    --c-text-color: #555;
    --c-text-color-darker: #333;

    /* 05 - SHADOWS */
    /*
    0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
     */

    /* 06 - BORDER-RADIUS */
    /*
    Default: 9px
Medium: 11px
     */

    /* 07 - WHITE-SPACE */
    /* 2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 */

}

/* endregion */

/* region Starter Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /* font-size: 10px; */
    /* 10px / 16px = 0.625 = 62.5% */
    /* Percentage of user's browser font-size setting */
    font-size: 62.5%;
}

body {
    font-family: 'Rubik', sans-serif;
    color: var(--c-text-color);
    font-weight: 400;
    line-height: 1;
    background-color: #FBFBFB;
}

a, abbr, acronym, b, bdo, big, br, button, cite, code, dfn, em, i, img, input, kbd, label, map, object, output,
q, samp, script, select, small, span, strong, sub, sup, textarea, time, tt, var {
    display: inline-block;
}

a, a:hover {
    text-decoration: none;
}

/* endregion */

/* region Navigation */
.header {
    padding: 1.6rem 3.2rem;
    background-image: -webkit-linear-gradient(0deg, #5d93c4 0%, var(--c-primary) 100%);
}

.main-nav {
    width: 100%;
}

.main-nav-list {
    list-style: none;
    display: flex;
    gap: 3.2rem;
    align-items: center;
    justify-content: end;
}

.main-nav-link:link, .main-nav-link:visited {
    color: white;
    font-weight: 500;
    font-size: 1.8rem;
    transition: all 0.3s;
}

.main-nav-link:hover {
    color: var(--c-primary-darker);
}

/* endregion */

/* region Info */
.info-profile {
    max-width: 800px;
    margin: 120px auto;
    background-image: -webkit-linear-gradient(0deg, var(--c-primary) 0%, #5d93c4 100%);
    padding: 32px 48px 32px 72px;

    border-radius: 8px;
    position: relative;

    display: flex;
    align-items: center;
    gap: 86px;
    box-shadow: 0 20px 80px 0 rgb(153 153 153 / 50%);
}

.img-profile {
    height: 220px;
    border-radius: 8px;
    transform: scale(1.5);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25);
}

.profile-data {
    margin-left: 60px;
}

.name {
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 1.5;
    color: #e6fcf5;
}

.profile-link {
    color: #e6fcf5;
    transition: all 0.3s;
}

.profile-link:hover {
    color: white;
}

.role {
    font-size: 1.8rem;
    margin-bottom: 3.2rem;
    text-transform: uppercase;
    color: #e6fcf5;
}

.info {
    font-size: 1.6rem;
    margin-bottom: 0.8rem;
    color: #e6fcf5;
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.mail-icon {
    filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(169deg) brightness(111%) contrast(100%);
}

.info-icon {
    color: white;
}

.social-icon {
    font-size: 2.2rem;
    color: white;
    margin-top: 1.6rem;
    margin-right: 0.4rem;
}

@media screen and (max-width: 767px) {
    .img-profile {
        transform: scale(1);
    }
    .info-profile {
        padding: 16px;
    }
    .profile-data {
        margin-top: 20px;
        margin-left: 0;
    }
}

.about-me {
    margin-bottom: 120px;
}

.profile-heading {
    color: #222;
    font-size: 26px;
    margin-bottom: 18px;
    text-transform: uppercase;
}

.profile-sub-heading {
    color: #222;
    font-size: 20px;
    margin-bottom: 8px;
    text-transform: uppercase;
}

.profile-description {
    max-width: 495px;
    margin-bottom: 40px;
    font-size: 16px;
    line-height: 1.2;
}

.featured-box {
    border: 1px solid #eee;
    border-radius: 5px;
    padding: 20px;
}

.featured-box ion-icon {
    color: var(--c-primary);
    font-size: 25px;
}

.featured-counter {
    font-size: 24px;
    font-weight: bold;
    color: #222;
    margin-bottom: 5px;
    margin-top: 10px;
}

.featured-box span {
    font-size: 14px;
    color: #777;
    margin-bottom: 0;
}

.profile-list li {
font-size: 1.6rem;
    margin-bottom: 8px;
    font-weight: 500;
}

.profile-list ion-icon {
color: var(--c-primary);
}
/* endregion */

/* region Timeline */
.sub-heading {
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 2.2rem;
}

.sub-sub-heading {
    color: white;
    text-transform: uppercase;
}

.timeline-sub-heading {
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 1.6rem;
    margin-bottom: 16px;
    margin-top: 32px;;
}

.timeline-section {
    padding: 120px 16px;
    background-image: -webkit-linear-gradient(0deg, var(--c-primary) 0%, var(--c-primary-ligther) 100%);
}

.timeline {
    display: flex;
    justify-content: center;
}

.timeline .lines {
    margin-top: 6px;
}

.timeline .dot {
    width: 14px;
    height: 14px;
    background: #D1D6E6;
    border-radius: 7px;
}

.timeline .line {
    height: 103px;
    width: 2px;
    background: #D1D6E6;
    margin-left: 5.3px;
}

.timeline .cards {
    margin-left: 12px;
}

.timeline .card {
    background: #FFFFFF;
    box-shadow: 0 2px 2px 0 #eeeeee40;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 16px 32px;
}

.timeline .card .mid {
    height: 71px;
}

.timeline .card h4 {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 5px;
    color: #2B2862;
}

.timeline .card p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #2B2862;
}
/* endregion */

/* region Gallery */
.gallery {
    padding-top: 90px;
    padding-bottom: 90px;
}

.gallery-item {
    margin-top: 20px;
}

figcaption {
    color: #222;
    font-size: 16px;
    font-weight: 500;
    margin-top: 10px;
    text-align: center;
}
/* endregion */

/* region published projects */
.published-projects-section {
    padding: 120px 16px;
    background-image: -webkit-linear-gradient(0deg, var(--c-primary) 0%, var(--c-primary-ligther) 100%);
}
/* endregion */

/* region Experimental Projects */
.projects-section {
    padding: 120px 16px;
    max-height: 740px;
}

.text-small {
    font-size: 1.3rem;
    color: var(--c-primary-ligther);
}

.projects-list li {
    font-size: 1.6rem;
    margin-bottom: 16px;
    font-weight: 500;
}

.project-li {
    cursor: pointer;
    display: block;
}

.project-li small {
    font-size: 1.2rem;
    color: var(--c-primary-ligther);
}

.video-player {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    max-height: 500px;
}
/* endregion */
